<div class="container">
 
    <ul class="nav nav-tabs">
        <li class="finance-tab">
            <a href="#">
                <div class="tab-header-main">Finance</div>
                <div class="tab-header-sub">$429/mo</div>
            </a>
        </li>
        <li class="active">
            <a href="#">
                <div class="tab-header-main">
                    <span>Lease</span> 
                    <span style="float: right;">
                        <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
                    </span>  
                </div>
                <div class="tab-header-sub-active">$417/mo</div>
            </a>
        </li>
    </ul>

    <div class="main-para">
        <p>Enter your zip to receive a more accurate payment <a>Update</a></p>
    </div>

    <div class="main-con-flex">
        <div class="flex-container">
            
            <div class="wrapper wrapper-1">
                <label>Offer Price</label>
                <div>
                    <input type="text" name="offerPrice" value="30000" class="wrapper-input">
                </div>
            </div>

            <div class="wrapper wrapper-2">
                <label>Credit Score</label>
                <div>
                    <select class="wrapper-select">
                        <option value="Excellent">Excellent(740-900)</option>
                        <option value="Average">Average(600-740)</option>
                    </select>
                </div>
            </div>

            <div class="wrapper wrapper-3">
                <label>Cash Down</label>
                <div>
                    <input type="text" name="offerPrice" value="0" class="wrapper-input">
                </div>
            </div>

            <div class="search-wrapper wrapper-4">
                <label>Specials</label>
                <div>
                    <i class="fa fa-search" aria-hidden="true"></i> <a>Search Additional Specials</a>
                </div>
            </div>

            <div class="search-wrapper wrapper-5">
                <label>Trade-In</label>
                <div>
                    <i class="fa fa-plus" aria-hidden="true"></i> <a>Add a trade-in</a>
                </div>
            </div>


            <div class="wrapper wrapper-6">
                <label>Term</label>
                <div>
                    <select class="wrapper-select">
                        <option value="42">42 mo.</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
            </div>
        </div>  

        <div class="wrapper wrapper-miles">
            <label>Miles Per Year</label>
            <div>
                <select class="wrapper-select">
                    <option value="10,000">10,000 miles</option>
                    <option value="5,000">5,000 miles</option>
                </select>
            </div>
        </div>

        <div class="wrapper-main-btn">
            <div class="wrapper-btn-div">
                <button class="send-btn"> Send my offer</button> <br>
                <button class="apply-btn"> Apply for credit</button>
            </div>


            <div class="last-para">
                <p>Estimated payment based on 10,000 miles/year for 42 months with $0 down well qualified buyers. Terms may vary. <a>See More Details.</a></p>
            </div> 
        </div>
    </div>
</div>