.container {
	padding: 30px;
	width: 100%;
}

li {
	width: 50%;	
}

.nav-tabs > li > a:hover {
	background: none;
    /*border: none;*/
}

.finance-tab {
	/*background: #d4e4ef;
	background: -moz-linear-gradient(top, #d4e4ef 26%, #d4e4ef 26%, #5399cc 100%);
	background: -webkit-linear-gradient(top, #d4e4ef 26%,#d4e4ef 26%,#5399cc 100%);
	background: linear-gradient(to bottom, #d4e4ef 26%,#d4e4ef 26%,#5399cc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#5399cc',GradientType=0 );*/
}

.tab-header-main {
	font-size: 12px;
    font-weight: 900;
    color: black;
    padding-bottom: 10px;
}

.tab-header-sub {
	font-size: 16px;
	color: black;
}

.tab-header-sub-active {
	font-size: 18px;
	color: #3B33A8;
	font-weight: 900;
}

.main-para {
	padding-top: 10px;
	font-size: 12px;
}

.last-para {
	padding-top: 10px;
	font-size: 12px;
}

div.wrapper {
	position: relative;
	border: 1px solid #BEBEBE;
	margin-top: 20px;
	padding: 20px 10px 10px;
}

div.search-wrapper {
	padding: 15px 10px 10px;	
}

div.search-wrapper i{
	color: #337ab7;
}

div.wrapper label {
	color: black;
	line-height: 20px;
	padding: 0px 5px;
	position: absolute;
	background-color: white;
	top: -10px;
	left: 10px;
}

.wrapper-input {
	width: 100%;
	border: none;
	color: #3B33A8;
}

.wrapper-select {
	width: 100%;
    border: none;
    background: none;
    color: #3B33A8;
}

*:focus {
    outline: none;
}

.send-btn {
	color: white;
    background-color: #3B33A8;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: 900;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.apply-btn {
	color: #3B33A8;
    background-color: white;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: 900;
    border: none;
    border: 1px solid #BEBEBE;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;	
}

.fa-info-circle {
	color: #337ab7;
}
@media only screen and (min-width: 320px)  {
	.flex-container {
		display: inline;
	}
}
@media only screen and (min-width: 640px)  {
	.flex-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 205px;
	}

	.flex-container > .wrapper {
		margin: 10px;
		padding: 10px 10px 10px;
	}

	.wrapper-btn-div {
		display: flex;
		flex-direction: row;
	}

	.wrapper-btn-div button{
		margin-right: 10px;
	}

	.wrapper-miles {
		width: 47%;
		margin: 10px;
		margin-top: 0 !important;
		padding: 10px 10px 10px !important;
	}

	.wrapper-1 {
		order: 1
	}

	.wrapper-2 {
		order: 2
	}

	.wrapper-6 {
		order: 3	
	}

	.wrapper-5 {
		order:6;
	}

	.wrapper-3 {
		order: 4;
	}

	.wrapper-4 {
		order: 5;
	}

	.send-btn {
		order: 2;
	}

	.apply-btn {
		order: 1;
	}
}
@media only screen and (min-width: 1024px) {
	.main-con-flex {
		height: 200px;
		display: flex;
		width: 100%;
		flex-wrap: wrap;
	}
	.flex-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 75%;
		order: 1;
	}

	
	.wrapper-main-btn {
		width: 25%;
		order: 2;
	}

	.flex-container > .wrapper {
		margin: 10px;
		padding: 10px 10px 10px;
	}

	.wrapper-btn-div {
		display: inline;
	}
	
	.wrapper-miles {
		width: 36%;
		margin: 10px;
		margin-top: 0 !important;
		padding: 10px 10px 10px !important;
		order: 3;
	}

	.wrapper-1 {
		order: 1
	}

	.wrapper-2 {
		order: 2
	}

	.wrapper-6 {
		order: 3	
	}

	.wrapper-5 {
		order:6;
	}

	.wrapper-3 {
		order: 4;
	}

	.wrapper-4 {
		order: 5;
	}

	.send-btn {
		order: 2;
	}

	.apply-btn {
		order: 1;
	}	
}
